

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#gameresults {
  overflow-x: hidden;
  overflow-y: auto;
  height: 10em;
  border: 1px solid black;
  background-color: white;
  margin: 1em auto 0 auto;
  padding: 5px;
}














